/* global color variables and fonts for easy theme management */
:root {
    --light-green-color: rgba(130, 153, 103, 1);
    --dark-green-color: rgba(39, 64, 50, 1);
    --secondary-button-hover: rgba(113, 37, 32, 1);
    --fonts-white-color: white;
    --header-font: "Lato", sans-serif;
}

body {
    font-family: var(--header-font);
}

.nav-item {
    color: var(--dark-green-color);
    background-color: var(--light-green-color);
    
}

nav img {
    width: 50%;
}

.navbar-toggler {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--light-green-color);
    border-radius: none;
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    color: var(--dark-green-color);
}