/* global color variables and fonts for easy theme management */
:root {
    --light-green-color: rgba(130, 153, 103, 1);
    --dark-green-color: rgba(39, 64, 50, 1);
    --secondary-button-hover: rgba(113, 37, 32, 1);
    --secondary-card-color: rgba(39, 64, 50, 0.53);
    --fonts-white-color: white;
    --header-font: "Lato", sans-serif;
}

body {
    font-family: var(--header-font);
}

.navbar > .container-fluid {
    background-color: var(--light-green-color);
    flex-wrap: nowrap;
    height: 100px;
}

.navbar img {
    width: 40%;
}

.navbar > .navbar-toggler {
    width: 40%;
    border: none;
    border-color: var(--light-green-color);
}

.nav-item {
    color: var(--dark-green-color);
    background-color: var(--light-green-color);
    
}

nav img {
    width: 40%;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    color: var(--dark-green-color);
}

.offcanvas{
    background-color: var(--light-green-color);
}

#banner {
    background-image: url(/images/images/banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    height: 50vh;
    color: var(--dark-green-color);
}

#menu-button {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#our-story {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: var(--light-green-color);
    color: white;
    border-color: var(--light-green-color);
}

.btn-primary:hover {
    color: var(--dark-green-color);
}

.btn-outline-primary {
    background-color: white;
    color: var(--dark-green-color);
    border-color: var(--light-green-color);
}

h1, h2, h3 {
    color: var(--dark-green-color);
}

main h2 {
    background-color: var(--light-green-color);
    color: var(--dark-green-color);
    text-align: center;
}

.drink {
    margin: 10px;
    padding: 30px;
    border-radius: 5px;

}

.card-body {
    background-color: var(--light-green-color);
    padding: 50px;
    margin: 100px;
}

.card-title {
    color: var(--dark-green-color);
    font-weight: bold;

}

.card-text {
    color: var(--fonts-white-color);
}

.btn-primary {
    background-color: var(--dark-green-color);
    border-color: var(--dark-green-color);
    color: var(--fonts-white-color);
}

.secondary-card-body {
    background-color: var(--secondary-card-color);
    margin: 40px;
    padding: 80px;
}

.secondary-card-title {
    color: var(--dark-green-color);
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: left;
}

.secondary-card-text {
    color: var(--fonts-white-color);
    text-align: left;
}

.contentFooter {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-green-color);
    color: var(--dark-green-color);
    margin: 10px;
    padding: 20px;
}

.list-group-item {
    background-color: var(--light-green-color);
    text-decoration: none;
    color: var(--fonts-white-color);
    padding: 5px;
    margin: 5px;
}

.footer-links {
    width: 20%;
    text-decoration: none;
    background-color: var(--light-green-color);
    color: var(--fonts-white-color);
    padding: 10px;
}

.tableFooter {
    justify-content: baseline;
    padding: 10px;
    margin: 10px;
    display: flex;
    width: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.headerContent {
    margin-bottom: 50px;
    padding: 40px;
}

.aboutContiner {
    width: 500px;
    margin: 0 auto;
}

.bannerimg {
    width: 210px;
    height: 210px;
    float: left;
    padding: 0.5em;
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 900px;
    margin-bottom: 50px;
}

.grid-container img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
}

